{
  "presets": [],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@shared": "./backend/shared",
        "@services": "./backend/services"
      },
      "extensions": [".js"]
    }]
  ]
}